<div class="row">
  <div class="col-md-6">
    <h2>Logowanie</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" novalidate (ngSubmit)="login(f)">

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
        <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Wprowadź poprawny adres e-mail</small>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" required name="password" placeholder="Hasło" ngModel>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Zaloguj</button>
        <app-spinner [isRunning]="isRequesting"></app-spinner>
      </div>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Nieprawidłowy e-mail lub hasło.</strong>
      </div>

    </form>
  </div>
</div>
